

.nav-list{
    display: flex;
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 0px;
    list-style: none;
}

.item-list,.a{
    
    flex-grow: 1;
    text-align: center;
    border: 2px solid transparent;
}

.a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
}

.item-list:hover{
    cursor: pointer;
    border: 2px solid red;
    background-color: rgb(235, 235, 235);
}